---
import Layout from "../layouts/Layout.astro";
import "./src/styles/global.css";
import { fade } from "astro:transitions";
---

<Layout>
  <div transition:animate={fade({ duration: "0.4s" })}>
    <h1 class="text-4xl font-bold mb-4">About Me</h1>
    <p class="mb-4">
      I’m a graduate computer science student at ucf and with hands-on experience across
      Software Engineering, IT, and Cyber Security. Over the past few years, I’ve
      interned with companies ranging from early stage startups to public sector
      organizations. 
    </p>

    <h2 class="text-2xl font-semibold mt-6 mb-2">My Background</h2>
    <p class="mb-4">Hey! I'm Muzamil Shamsi, a passionate software engineer with roots at the University of Central Florida.</p>

    <h2 class="text-2xl font-semibold mt-6 mb-2">My Interests</h2>
    <p class="mb-4">I enjoy watching movies</p>

    <h2 class="text-2xl font-semibold mt-6 mb-2">Languages</h2>
    <ul class="list-disc list-inside space-y-1">
      <li>Python</li>
      <li>JavaScript</li>
      <li>Java</li>
      <li>C</li>
    </ul>
  </div>
</Layout>
