---
import Layout from "../layouts/Layout.astro";
import "./src/styles/global.css";
import { fade } from "astro:transitions";
---

<Layout>
  <div transition:animate={fade({ duration: "1.0s" })}>
    <h1 class="text-4xl text-center mt-8">Muzamil's Website</h1>
    <h2 class="mt-4">
      I'm thrilled to welcome you to my corner of the internet. This website is
      more than just a digital space — it's a glimpse into my interests, my
      skills, and the journey that has shaped who I am. I'm a front-end
      developer who enjoys exploring the creative side of web development. I
      like making weird or unexpected things with new and emerging technologies,
      and I’m always curious about how far I can push the browser to do
      something fun, expressive, or just plain different. Right now, I’m not
      working anywhere officially I’m focusing on building up my skills,
      learning new tools, and working on personal projects that help me grow as
      a developer. Outside of coding, I’m into weightlifting and I’m a big movie
      enjoyer — whether it’s something deep and artistic or totally ridiculous,
      I love getting into a good film. When I’m not at the computer, you’ll
      probably find me in the gym
    </h2>

    <a
      href="/resume/Shamsi_resume.pdf"
      target="_blank"
      class="text-red-50 hover:text-blue underline underline-offset-1 mt-4 block"
    >
      Resume
    </a>

    <section class="mt-8">
      <h3 class="text-2xl font-semibold mb-2">Experience</h3>
      <ul class="text-red-400 list-disc list-inside">
        <li>Intern at XYZ Company</li>
        <li>Freelance Web Developer</li>
        <li>Volunteer at Local Non-Profit</li>
      </ul>
    </section>
  </div>
</Layout>
