<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Footer Component</title>
    <link rel="stylesheet" href="/src/styles/global.css" />
  </head>
  <body class="bg-black text-white text-center text-base/10">
    <footer class="footer">
      <p>© 2025 Muzamil Shamsi</p>
    </footer>
  </body>
</html>